<style>
    .nav-item {
      color: black;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-3">
                <a class="nav-link" href="/admin/home">Home</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="/admin/list-users">Users</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="/admin/list-genres">Genres</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="/admin/list-authors">Authors</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="/admin/list-books">Books</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="/admin/list-orders">Orders</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="/admin/list-coupons">Coupons</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="/admin/list-banners">Banners</a>
            </li>
        </ul>

        <a href="/admin/logout" class="btn btn-secondary">Logout</a>
    </div>
</nav>