<div class="header-info">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <div class="header-item">
                    <img src="img/icons/delivery.png" alt="">
                    <p>Free shipping on All Orders</p>
                </div>
            </div>

            <div class="col-md-4 text-left text-lg-center">
                <div class="header-item">
                </div>
            </div>

            <div class="col-md-4 text-left text-xl-right">
                <div class="header-item">
                    <img src="img/icons/sales.png" alt="">
                    <p>50Rs off on Book. Use code: OCT50</p>
                </div>
            </div>
            
        </div>
    </div>
</div>