<script>
    document.addEventListener('DOMContentLoaded', async function () {
        try {
            const response = await fetch('/api/genres');
        
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
        
            const data = await response.json();
        
            if (data.length > 0) {
                const genresList = document.querySelectorAll('.main-menu.mobile-menu ul li:has(ul.sub-menu)');
                const subMenu = genresList[0].querySelector('ul.sub-menu');
                subMenu.innerHTML = '';
    
                data.forEach((genre) => {
                    const listItem = document.createElement('li');
                    const link = document.createElement('a');
                    link.href = `/view-genre?id=${genre._id}`;
                    link.textContent = genre.name;
                    listItem.appendChild(link);
                    subMenu.appendChild(listItem);
                });
            }

        } catch (error) {
            console.error('Fetch error:', error);
        }
    });
</script>
    

<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">

            <div class="logo">
                <a href="home"><img src="img/logo.png" alt=""></a>
            </div>

            <div class="header-right">
                <a href="cart"><img src="img/icons/bag.png" alt=""></a>
            </div>

            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#">Genres</a>
                        <ul class="sub-menu">
                                <li><a>
                                    </a>
                                </li>
                        </ul>
                    </li>
                    <li><a href="/list-books">Books</a></li>
                    <li><a href="#">Profile</a>
                        <ul class="sub-menu">
                            <li><a href="my-account">My Account</a></li>
                            <li><a href="my-address">My Addresses</a></li>
                            <li><a href="my-orders">My Orders</a></li>
                            <li><a href="change-password">Change Password</a></li>
                            <li><a href="/logout" class="text-danger">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</header>

    